* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --profile-border: white;
  --list-bg: rgba(255, 255, 255, 0.1);
  --list-border: rgba(255, 255, 255, 0.5);
  --list-hover-bg: rgba(255, 255, 255, 0.05);
  --list-hover-border: white;
  --footer-bg: rgba(0, 0, 0, 0.1);
  --footer-color: white;
  --icons-filter: invert(100%);
  --icons-hover: rgba(86, 86, 86, 0.5);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --switch-span-background: rgba(255, 255, 255, 0.1);
  --switch-span-border: rgba(255, 255, 255, 0.5);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --profile-border: black;
  --list-bg: rgba(0, 0, 0, 0.1);
  --list-border: rgba(0, 0, 0, 0.5);
  --list-hover-bg: rgba(0, 0, 0, 0.05);
  --list-hover-border: black;
  --footer-bg: rgba(200, 200, 200, 0.64);
  --footer-color: black;
  --icons-filter: invert(0%);
  --icons-hover: rgba(156, 156, 156, 0.5);
  --switch-bg-url: url(./assets/sun.svg);
  --switch-span-background: rgba(0, 0, 0, 0.1);
  --switch-span-border: rgba(0, 0, 0, 0.5);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  transition: all 0.5s;
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  transition: all 0.5s;
}

.container {
  max-width: 588px;
  width: 100%;
  margin: 40px auto 0;
}

.profile {
  text-align: center;
  padding: 24px;
}

.profile p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.profile_img {
  width: 110px;
  border-radius: 50%;
  border: 2px solid var(--profile-border);
}

.switch_button {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.switch_button button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: white;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  transition:
    color 1s,
    background-color 1s,
    border-color 1s,
    filter 1s;

  animation: slide-back 0.5s forwards;
}

.light .switch_button button {
  animation: slide-in 0.5s forwards;
}

.switch_button button img {
  display: none;
}

.switch_button span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--switch-span-background);
  border: 1px solid var(--switch-span-border);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.list {
  margin: 24px;
}

.list ul {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

.list ul li a {
  display: block;
  background-color: var(--list-bg);
  text-decoration: none;
  text-align: center;
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid var(--list-border);
  backdrop-filter: blur(4px);
  font-weight: 500;
}

.list ul li a:hover {
  background-color: var(--list-hover-bg);
  border: 1.5px solid var(--list-hover-border);
}

.social {
  margin-top: auto;
}

.social ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.social ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 48px;
  height: 48px; */
  padding: 14px;
  border-radius: 50%;
}

.social ul li:hover {
  background-color: var(--icons-hover);
}

.social img {
  display: block;
  width: 32px;
  filter: var(--icons-filter);
}

footer {
  text-align: center;
  padding: 24px;
  background-color: var(--footer-bg);
  margin-top: auto;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--footer-color);
}

footer span {
  color: var(--footer-color);
  font-weight: 500;
  text-decoration: underline;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
